{% extends 'base.html' %}

{% block body %}

    <div class="text-center">
        <img src="/media/naver_main.png" class="rounded"  width="300" alt="...">
        <img src="/media/naver_main3.png" class="rounded" width="300" alt="...">
        <img src="/media/naver_main5.png" class="rounded" width="300" alt="...">
        <img src="/media/naver_main7.png" class="rounded" width="300" alt="...">
    </div>
    <div class="text-center">
        <img src="/media/naver_main2.png" class="rounded" width="300" alt="...">
        <img src="/media/naver_main4.png" class="rounded" width="300" alt="...">
        <img src="/media/naver_main6.png" class="rounded" width="300" alt="...">
        <img src="/media/naver_main8.png" class="rounded" width="300" alt="...">
    </div>
{% endblock %}